body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
}

.task-card {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.task-card:hover {
    transform: scale(1.02);
}

.task-card .task-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.task-card button {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

.edit-task-form {
    display: none;
    margin-top: 10px;
}

#new-task, #open-time, #working-time, #product-delivery, #shop-address, #important-message {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
}

#submit-task {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}